/*Website header*/

.site-header {
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid var(--brand);
    background: rgba(255, 255, 255, 0.98);
    & a {
        color: var(--color-dark) !important;
    }
    & .container {
        display: flex;
        position: relative;
    }
    & svg {
        fill: var(--color-dark) !important;
    }
}

.header-close {
    color: #000;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    font-weight: 700;
    font-size: 1.3em;
    cursor: pointer;
}

.logo {
    flex: 8;
    font-size: 30px;
}

.navbar-toggle,
.search-toggle {
    flex: 1;
    cursor: pointer;
    padding-top: 10px;
}

.site-header nav {
    height: 100%;
    width: 0;
    max-width: 400px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--color-dark);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    & a {
        color: #fff !important;
    }
}

.navbar-toggled .site-header nav {
    width: 100%;
}

.header-search-input {
    position: absolute;
    width: 100%;
    max-width: 600px;
    z-index: 20;
    right: -120%;
    top: 10px;
    transition: 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.search-toggled .header-search-input {
    right: 0;
}

@media(--med) {
    .navbar-toggle {
        display: none;
    }
    .site-header nav {
        width: 100%;
        max-width: 100%;
        z-index: 10;
        position: relative;
        background-color: transparent;
        overflow: hidden;
        padding-top: 5px;
        & a {
            color: var(--color-dark) !important;
            padding-top: 0;
            padding-bottom: 0;
        }
        & a:hover {
            box-shadow: 0 -2px #03a9f4;
        }
    }
    .header-close {
        display: none;
    }
    .logo {
        flex: 2;
    }
    .site-header nav {
        flex: 7;
    }
}


/*Layouts*/

main,
.container {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}

.grid,
.section-wrapper,
.blog-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.page {
    display: block;
}

.section-wrapper article,
.sidebar,
.col,
.articles-wrapper {
    flex-basis: 100%;
    max-width: 100%;
}

@media(--med) {
    .col {
        flex: 1;
    }
    .sidebar {
        flex: 3;
        font-size: 1rem;
    }
    .section-wrapper article,
    .articles-wrapper {
        flex: 7;
        margin-right: 1em;
        width: 70%;
    }
    .page {
        width: 70%;
        margin: auto;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 2em;
    }
    .search-page {
        background: #fcfcfc;
        & .page {
            background: #fff;
        }
    }
}

.site-footer {
    font-size: 1rem;
    margin-top: 3em;
    padding-top: 3em;
}

.email-widget {
    min-height: 360px;
    & .email-input {
        background-color: rgba(255, 255, 255, 0.3) !important;
    }
}

.entry-content {
    margin: 2em auto;
}

.entry-title,
.entry-title a {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.entry-title.with-margin {
    margin: 2em 0;
}

.page-title {
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    margin: 2em 0;
    color: #607D8B;
}